<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="BubbleScript" Version="1.0.1" TargetFramework="netstandard2.1" AllowedVersions="[1.0.1]" />
  <package ID="Microsoft.CognitiveServices.Speech" Version="1.37.0" TargetFramework="netstandard2.0" AllowedVersions="[1.37.0]" />
</packages>